{% extends 'base.html.twig' %}

{% block title %} {{game.name}} {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <h1> {{game.name}} </h1>                            
                <p>Publisher : {{game.publisher}} </p>
                <p>Developer : {{game.developer}} </p>
                <p>Description : {{game.description}} </p>
                <p>Release date : {{game.releasedAt | date("m-d-Y")}} </p>
                <p>Genres : </p>
                {% for tag in game.tags %}
                    <p>- {{tag.name}} </p>
                {% endfor %} </p>
                <a href="{{ path('games') }}" class="btn btn-primary">Go back</a>
            </div>           
        </div>
    </div>

{% endblock %}